.li{
    color: red;
}
.week1{
    color: black;
    text-align:  center;

}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}
td{
    padding: 10px;
    border: 1px solid black;
}
.first{
    background-color: rgb(199, 179, 245);
    text-align: center;
}
.all{
   align-items: center;
}

input {
    width: 30px;
    padding: 10px;
    outline: none;
}